@model IEnumerable<PH3A.Domain.Models.Parcela>

@{
    ViewData["Title"] = "Simulador de Cálculo de Juros";
}

<h1>@ViewData["Title"]</h1>

<div id="listarParcela">
    <partial name="_ListagemParcelas" />
</div>
<div id="incluirEditarParcela"></div>
<div id="calcularJuros">
    <partial name="_CalcularJuros" model="@new Simulacao{ PorcentagemJuros = 0.001m }" />
</div>

<script>

    function carregarJuros() {
        var meuForm = $('#juros');
        $.ajax({
            type: 'GET',
            url: "@Url.Action("CarregarJuros", "Simulador")",
            data: meuForm.serialize(),
            success: function(data) {
                $('#calcularJuros').html(data);
            },
            error: function(data) {

            }
        });
    }

</script>